#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-title {
    width: max(95%, 460px);
    height: auto;

}

#home-cover-image {
    width: 40%;
    height: auto;
    border-radius: 15px;
    border-style: solid;
    border-width: medium;
    border-color: #EEEEEE;
    margin-top: 10px;
    margin-bottom: 10px;
}

#home-background {
    z-index: -1;
    opacity: 80%;
    position: fixed;
    width: max(100%, 1200px);
    height: auto;
    top: max(10vw, 85px);
    right: 50%;
    transform: translateX(50%);
}

/* Styling for all text elements */
.home-text {
    background: rgba(30, 32, 34, 0.85);
}

/* What is Intercollegiate Yu-Gi-Oh?*/
#home-h2 {
    padding: 3px 7px 3px 7px;
    text-decoration: underline;
    width: 70%;
    margin-bottom: 0;
    border-radius: 15px 15px 0 0;
    border-style: solid;
    border-width: thin thin 0 thin;
    border-color: #EEEEEE #EEEEEE transparent #EEEEEE;
}

/* Description for "What is Intercollegiate Yu-Gi-Oh?" */
#home-description {
    border-radius: 0 0 15px 15px;
    border-style: solid;
    border-width: 0 thin thin thin;
    border-color: transparent #EEEEEE #EEEEEE #EEEEEE;
    width: 70%;
    padding: 7px;
}

/* Interactive Map*/
#map {
    display: flex;
    width: min(80%, 800px);
    height: auto;
}

#map > svg {
    padding-left: 1.5vw;
    padding-top: 1.5vw;
    background: rgba(30, 32, 34, 0.85);
    width: auto;
    height: auto;
}

#map > svg > g {
    transform: translateX(-25%);
}

/* Discord Invite Link */
#home-invite-link {
    background: black;
    border-radius: 15px 15px 0 0;
    font-weight: 600;
    padding: 5px 9px 0 9px;
    margin-top: 10px;
}