body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: white !important;
  background-color: black;
}

h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600 !important;
  text-align: center;
  font-size:5vw;
}

h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600 !important;
  text-align: center;
  font-size:3vw;
}

a {
  color: #27283F !important;
  text-decoration: none !important;
}

a:hover {
  color: #17B2B5 !important;
}

.logoPic {
  width: 70%;
  margin: auto;
  display: block;
}