
body {
  font-family: 'Helvetica-Black-SemiBold', sans-serif;
  color: #EEEEEE !important;
  background-color: #1E2022 !important;
}

h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600 !important;
  text-align: center;
  font-size:5vw !important;
}

h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600 !important;
  text-align: center;
  font-size:3vw;
}

.logoPic {
  width: 70%;
  margin: auto;
  display: block;
}


ul {
  display: table;
  margin: 0 auto;
}