.navbar {
    background-color: #00ADB5;
    display: flex;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: max(1.2vw, 12px);
    text-align: center;
}

.navbar-nav {
    margin-top: 15px;
}


#current-page {
    padding-top: max(5.8vw, 78px);
    padding-left: 10px;
    padding-right: 10px;
}
/*
CSS Overriding of react-boostrap nav from
change active class: https://stackoverflow.com/questions/61314053/react-bootstrap-custom-nav-link-active-style-is-not-working
change color based on active: https://stackoverflow.com/questions/66298345/not-able-to-change-color-of-navlink-react-bootstrap
Touchscreen detection: https://ferie.medium.com/detect-a-touch-device-with-only-css-9f8e30fa1134
*/

@media (pointer: coarse) {
    .navbar-nav >.link {
        padding: max(0.8vw, 7px) max(0.8vw, 7px) max(0.8vw, 5px) max(0.8vw, 7px) !important;
        border-radius: 15px 15px !important;
        border-style: solid solid solid solid !important;
        border-width: thin !important;
        border-color: #EEEEEE !important;
    }
}

.active-page {
    background-color: #1E2022 !important;
    color: #EEEEEE;
}

.navbar-nav >.link {
    color: #FFFFFF;
    display: block;
    font-family: 'Helvetica-Black-SemiBold', sans-serif;
    padding: 15px 0.5vw max(1.3vw, 9px) 0.5vw;

    width: max(13vw, 120px);

    border-radius: 15px 15px 0 0;
    border-style: solid solid none solid;
    border-width: thin;
    border-color: rgba(5, 147, 154, 0.95);
}

.navbar-nav > .link:hover {
    background-color: #05939A;
    color: #FFFFFF;
    text-decoration: none;
}

/* Navbar logo styling*/
@media (max-width: 600px) {
    .navbar-brand {
        margin-right: 0 !important;
    }
}

.navbar-brand > img {
    width: max(4.35vw, 48px);
    height: max(4.35vw, 48px);
}


