/* Accordion styling */
#tournaments {
    display: flex;
    justify-content: center;
}

.accordion {
    width: 90%;
}
.tournament button {
    background-color: #65808A;
    color: #EEEEEE;
    min-height: 48px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tournament button:hover {
    background-color: #789099;
}

.accordion-button {
    display: flex;
}

.accordion-label {
    display: flex;
    font-size: 30px;
    margin: auto;
}

.accordion-arrow {
    position: absolute;
    font-size: 30px;
    right: 3%;
    transform: translateX(-100%);
}

/* Accordion arrow change visibility content override hack: https://www.geeksforgeeks.org/how-to-replace-text-with-css/*/
.collapsed > .accordion-arrow:after {
    content: "\23f5" !important;
    visibility: visible !important;
}

.accordion-button > .accordion-arrow {
    visibility: hidden;

}

.accordion-button > .accordion-arrow:after {
    content:"\23f7";
    visibility: visible;
}

