/* Carousel styling */
.carousels-past {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carousels-past > div {
    display: flex;
    flex-direction: column;
    margin: 7px max(8.3vw, 10px) 5px max(8.3vw, 10px);
    justify-content: center;
    align-items: center;
}

/* Carousel fixed dimension to address resizing mid-transition bug: https://stackoverflow.com/questions/17357306/bootstrap-carousel-resizing-image*/
.past {
    display: flex;
    width: 380px;
    height: 290px;
    justify-content: center;
    border-style: solid;
    border-width: thick;
    border-color: #EEEEEE;
}

.past-item {
    object-fit: fill !important;
    width: 380px !important;
    height: 290px !important;
}

.caption-past {
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 7px;
}

/* Background opacity hack: https://www.geeksforgeeks.org/set-the-opacity-only-to-background-color-not-on-the-text-in-css/*/
.caption-past > p {
    background: rgba(30, 32, 34, 0.4);
}

.carousel-label-past {
    margin-top: 5px;
    font-size: max(0.9rem, 12px);
}

/* Carousel transition speed: https://stackoverflow.com/questions/48665392/change-bootstrap-carousel-fade-transition */
.past > .carousel-inner > .carousel-item {
    transition: transform 0.2s ease-in-out;
}

.past > .carousel-inner > .carousel-fade .active.carousel-item-start,
.past > .carousel-inner > .carousel-fade .active.carousel-item-end {
    transition: opacity 0s 0.2s;
}

/* Carousel indicator styling */
.past > .carousel-indicators > button {
    border: none;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 5px;
    border-radius: 100%;
    padding: 6px 6px;
}

.past > .carousel-indicators > .active {
    background-color: #1b1e21;
}

/* Tile Styling */
.tiles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    margin: 10px 4vw;
}

.tile-value {
    color: #fa61c3;
    font-size: max(2.9vw, 16px);
}

.tile-label {
    font-size: max(1vw, 16px);
}

/* Description/Sponsors Styling */
.text-information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.text-information > div {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 400px;
    height: auto;
    margin: 10px;
}